asgiref~=3.6.0
Django~=4.2
Pillow~=9.0.1
sqlparse~=0.4.3
typing_extensions~=4.6.3

django-ckeditor~=6.7.0
future~=0.18.2
olefile~=0.46
pip~=22.3.1
attrs~=21.2.0
distro~=1.7.0
wheel~=0.37.1
cryptography~=3.4.8
Jinja2~=3.0.3
filelock~=3.6.0
setuptools~=59.6.0
psycopg2~=2.9.2
colorama~=0.4.4
PyYAML~=5.4.1
numpy~=1.21.5
requests~=2.25.1
packaging~=21.3
zipp~=1.0.0
platformdirs~=2.5.1