
{% extends 'base.html' %}
{% block title %} صفحه ورود {% endblock %}

{% block content %}


<div class="container">
    <div class="row">
        <div class="col-4">

            <h2 class="title is-1"> تغییر رمز </h2>
            <hr>
            <form method="post">
                <div class="block">
                    <form method="post">
                        {% csrf_token %}
                        {{ form }}
                        <br><br>
                        <div class="block">
                            <button type="submit" class="btn btn-primary"> ورود </button>
                        </div>
                    </form>
                </div>
            </form>

        </div>
    </div>
</div>


{% endblock %}