<footer class="footer">
    <div class="content has-text-centered">
        <p><strong>Nima Parandavar</strong></p>
        <p><a href="https://www.instagram.com/nima.parandavar/" class="is-link"><span><i
                        class="fa-brands fa-instagram"></i></span> nima.parandavar </a></p>
        <p><a href="https://github.com/nima-parandavar" class="is-link"><span><i
                        class="fa-brands fa-git-square"></i></span> nima-parandavar </a></p>
        <p><a href="https://www.linkedin.com/in/nima-p-753b97138/" class="is-link"><span><i
                        class="fa-brands fa-linkedin"></i></span> nima-p-753b97138</a></p>

    </div>
</footer>