<nav class="navbar is-light" role="navigation">
    <div class="navbar-brand">
        <p class="navbar-item title is-3"><span class="icon"><i class="fa-solid fa-hashtag"></i></span></p>
    </div>
    <div class="navbar-menu">
        <div class="navbar-start">

            <a href="{% url 'store_warehouse:first_page' %}" class="navbar-item p-2">خانه</a>
            <a href="{% url 'store_warehouse:post_list' %}" class="navbar-item p-2"> نمایش پست‌ها </a>
            <a href="{% url 'store_warehouse:add_post' %}" class="navbar-item p-2"> اضافه کردن کالا </a>
            <a href="{% url 'spatial_services:spatial_service' %}" class="navbar-item p-2"> سرویس‌های مکان‌مبنا </a>
            <a href="{% url 'social_media:video_call' %}" class="navbar-item p-2">پیام‌رسان ویدئوئی </a>

        </div>



        <div class="navbar-end">

            <a href="#" class="navbar-item">Log out</a>
            <a href="#" class="navbar-item dashboard">
                کیارش بروشان
                <div>
                    <img src="#" alt="#" class="avatar" />
                </div>
                <span class="icon"><i class="fa-solid fa-user"></i></span>
            </a>
            <span class="navbar-item has-text-muted">|</span>
            <a href="#" class="navbar-item is-danger">
                <span>Write a new post</span>
            </a>
            <a href="#" class="navbar-item">Log in</a>
            <a href="#" class="navbar-item">Sign up</a>
        </div>
    </div>
</nav>