{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-darkme">
  <div class="container-fluid">

<!--    <a class="navbar-brand" href="#">حامی کسب‌و‌کارهای غیرمجازی kiapay</a>-->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'store_warehouse:first_page' %}">خانه</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" style="color: red" aria-current="page" href="{% url 'store_warehouse:guide' %}">راهنما</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'store_warehouse:post_list' %}">نمایش پست‌ها</a>
        </li>

<!--        dropdown-->
        <div class="dropdown">
          <button class="dropbtn">برنامه‌های آتی</button>
          <div class="dropdown-content">
            <a href="{% url 'social_media:video_call' %}">پیام‌رسان ویدئوئی</a>
            <a href="{% url 'spatial_services:spatial_service' %}">سرویس‌های مکان‌مبنا</a>
            <a href="{% url 'gitAndBlog:git_blog' %}">Github and blog</a>
          </div>
        </div>

      </ul>

<!--      logo -->
      <p class="navbar-item title is-3 ">
        <span class="icon">
            <i class="fa-solid">
                <h5 >
                   حامی کسب‌و‌کارهای غیرمجازی
                </h5>
            </i>
        </span>
    </p>

    </div>

<!--    authentication -->
    <div class="form-inline my-2 my-lg-2-0">
      {% if user.is_authenticated %}
          {% csrf_token %}

        <a href="{% url 'store_warehouse:dashboard' %}" class="btn btn-success"> {{user}} سلام </a>
          <span class="navbar-item has-text-muted">|</span>
          <div>
              <img src="#" alt="" class="avatar" />
          </div>

        <div class="dropdown">
          <button class="dropbtn btn-success"> تنظیمات داشبورد </button>
          <div class="dropdown-content">
              <p dir="rtl" class="panel-heading"> تنظیمات داشبورد</p>
              <a dir="rtl" href="{% url 'store_warehouse:add_post' %}"
               class="panel-block"> اضافه کردن کالا </a>
              <a dir="rtl" href="{% url 'password_change' %}"
               class="panel-block">تغییر رمز عبور </a>
              <a dir="rtl" href="{% url 'password_reset' %}"
               class="panel-block">ریست رمز عبور </a>
          </div>
        </div>
        <span class="navbar-item has-text-muted">|</span>

          <a href="{% url 'Account:logout' %}" class="btn btn-success"> خروج </a>
          <span class="navbar-item has-text-muted">|</span>

          <a href="{% url 'store_warehouse:cart' %}">
            <img src="{% static 'images/cart.png' %}" alt="cart" id="cart-icon">
          </a>
          <p id="cart-total">0</p>

      {% else %}
          <a href="{% url 'login' %}" class="btn btn-success"> ورود </a> |
          <a href="{% url 'Account:register' %}" class="btn btn-success"> ثبت‌نام </a>

      {% endif %}
    </div>

  </div>
</nav>