<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>video call </title>
</head>
<body>
برخی از مشتریان قصد خرید برای شخص دیگر یا از طرف شخص دیگر را دارند.
لذا تمایل دارند در زمان خرید نظرات آن شخص ثالث را جویا شوند.
با توجه به فیلتر بودن شبکه‌های اجتماعی خارجی و سختی دسترسی همگانی به فیلترشکن‌های رایگان در زمان اوج ترافیک شبکه
و همچنین عدم استقبال مردم از شبکه‌های پیام‌رسان‌های داخلی،
لذا ارائه خدمت یک پیام‌رسان با قابلیت تماس تصویری ضروری است.
لازم به ذکر است هیچگونه اطلاعاتی به هیچوجه نباید از این تماس‌ها در هیچ جایی ذخیره گردد.
</body>
</html>