{% extends 'base.html' %}
{% block title %} اضافه کردن کالا {% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-4">

            <h1 class="title is-1"> اضافه کردن کالا </h1>
            <form method="post">
                {% csrf_token %}
    <!--            {% for f in form %}-->
    <!--                -->
    <!--                <div class="block">-->
    <!--                    <label for="username" class="label">Username</label>-->
    <!--                    <div class="control"><input type="text" name="username" id="username" class="input"></div>-->
    <!--                </div>-->

    <!--            {% endfor %}-->
                <div class="block">
                    {{ form }}
                    <button type="submit" class="btn btn-success"> add post </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}