{% extends 'base.html' %}
{% load static %}
{% block title %} داشبورد جزییات کالا {% endblock %}


{% block content %}
<center>
    <hr>
    <br>
<!--    deatail post -->

    <h2 class="title is-1 block"> مشخصات کالا </h2>
    <div class="container">
        <div class="card product_data">

            <div class="card-body">
                <h3 class="card-title"> {{p_d.title}}</h3>

<!--                image -->
                <div class="row">
                    {% if p_d.scan_same_QR %}
                        <div class="col-lg-5 col-md-5 col-sm-6"><img src="{{ p_d.scan_same_QR.url }}" alt="#"></div>
                    {% else %}
                        <div class="col-lg-5 col-md-5 col-sm-6"><img src="{% static 'css/no image.png' %}" alt="#"></div>
                    {% endif %}
                </div>

<!--                detail -->
                <div class="col-lg-7 col-md-7 col-sm-6">
                    {% csrf_token %}
                    <input type="hidden" value="{{ p_d.id }}" class="prodt_id">
                    <div class="block"><small>{{ p_d.username | capfirst }}</small></div>
                    <br>

                    <div class="block"><small>{{ p_d.username | capfirst }}</small></div>
                    <br>

                    <div class="block"><small>{{ p_d.Category }}</small></div>
                    <br>

                    <div class="block">
                         توضیحات ویدئویی
                        <br>
                        <a href="{{p_d.link}}">{{p_d.link}}</a>
                    </div>
                    <br>

                    <h4 class="box-title mt-1"> توضیحات کالا </h4>
                    <p class="block">{{ p_d.description | linebreaks | safe }}</p>
                    <br>

                    <h2 class="mt-5">
                        قیمت
                        <br>
                        <small class="text-success"> هزار تومان {{ p_d.price }}</small>
                    </h2>

                    <hr>

                    <div class="field has-addons">
                        <a href="{% url 'store_warehouse:DeletePost' p_d.id %}"
                           class="button is-light  is-danger is-small">حذف مشخصات کالا </a>
                        <a href="{% url 'store_warehouse:post_edit' p_d.id %}"
                           class="button is-light is-success is-small">اصلاح مشخصات کالا</a>
                    </div>
                    <br>

                    <div>
                        <button type="button" class="addToCartBtn btn btn-primary btn-rounded"> سبد خرید </button>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <hr>
    <hr>
    <br>

<!--    comment show -->
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="blog-comment-box">
        <h3> نظرات </h3>

        {% for cmnt in comment %}
            <div class="comment-item">
                <div class="comment-item-left">
                    <img src="images/avt-img.jpg" alt="">
                </div>
                <div class="comment-item-right">
                    <div dir="rtl" class="pull-left">
                        نام کاربر:
                        {{ cmnt.name }}
    <!--                    <a href="#"></a>-->
                    </div>
                    <div class="pull-right">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                        تاریخ : <span>{{ cmnt.date | timesince}}</span>
                    </div>
                    <div dir="rtl" class="des-l">
                        <p>{{ cmnt.message }}</p>
                    </div>

    <!--                پاسخ به نظر -->
    <!--                <a href="#" class="right-btn-re">-->
    <!--                    <i class="fa fa-reply" aria-hidden="true"></i>-->
    <!--                    Reply-->
    <!--                </a>-->
                    <br>
                </div>
            </div>
        {% endfor %}
    </div>
            </div>
        </div>
    </div>

        <hr>
        <br>

 <!--        comment form -->
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="comment-respond-box">

            <h3>نظرات خود را بنویسید </h3>
            <br>

<!--            نام کاربر -->
            <div class="comment-respond-form">
                <form id="commentrespondform" class="comment-form-respond row" method="post">
                    {% csrf_token %}
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="form-group">
                            <input id="name_com"
                                   class="form-control"
                                   name="name"
                                   placeholder="نام کاربر "
                                   type="text">
                        </div>
                        <br><br>

<!--                         ایمیل کاربر -->
                        <div class="form-group">
                            <input id="email_com"
                                   class="form-control"
                                   name="email"
                                   placeholder="ایمیل کاربر "
                                   type="email">
                        </div>
                        <br><br>
                    </div>

<!--                     نظر کاربر -->
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="form-group">
                            <textarea class="form-control"
                                      name="message"
                                      id="textarea_com"
                                      placeholder="نظر کاربر "
                                      rows="2"></textarea>
                        </div>
                        <br><br>
                    </div>

<!--                    ثبت نظر کاربر -->
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <button class="btn btn-primary">ثبت نظر </button>
                    </div>
                </form>
            </div>
        </div>
            </div>
        </div>
    </div>


<!--    cart -->
    <script src="{% static 'main/js/cart.js' %}" type="text/javascript"></script>


{% endblock %}
</center>