
{% extends 'base.html' %}
{% block title %} داشبورد {% endblock %}
{% load static %}


{% block content %}
<div class="row">
    <div class="col-lg-4">
        {% for l in list %}
            {% if l.scan_same_QR %}
                <img src="{{ l.scan_same_QR.url}}" alt="simple picture" class="thumbnail">
            {% else %}
                <img src="{% static 'images/no image.png' %}" alt="simple picture" class="thumbnail">
            {% endif %}

            <div class="box-element product">
                <span>  {{ l.updated | timesince }}   تاریخ انتشار</span>
                <span>{{ l.user.first_name }} {{ l.user.last_name }}</span>
                <span>{{ l.user }}</span>
                <h6 style="display:inline-block; float:right"><strong> {{ l.name | title }} </strong></h6>
                <br><br>

                <div dir="rtl" class="block">
                     <p dir="rtl">توضیحات ویدئویی</p>
                    <br>
                    <a href="{{l.link}}">{{l.link}}</a>
                </div>
                <br>

                <p class="block">{{ p_d.description | linebreaks | safe }}</p>
                <br>

                <div class="text content">
                    <p>{{ l.description | truncatewords:10 | safe}}</p>
                </div>

                <hr>
                <button class="btn btn-outline-primary add-btn"> ارسال به کارت </button>
                <a href="{{ l.get_absolute_url }}" class="btn btn-outline-success"> جزییات کالا </a>
                <h4 style="display:inline-block; float:right">20 $</h4>
            </div>
        {% endfor %}
        <hr>
        <br>
        <div>
            {% include 'partial/pagination.html' %}
        </div>

    </div>


            <div class="panel is-light">

                <p dir="rtl" class="panel-heading"> تنظیمات داشبورد</p>

                <a dir="rtl" href="{% url 'store_warehouse:add_post' %}"
                   class="panel-block"> اضافه کردن کالا </a>

                <a dir="rtl" href="{% url 'password_change' %}"
                   class="panel-block">تغییر رمز عبور </a>

                <a dir="rtl" href="{% url 'password_reset' %}"
                   class="panel-block">ریست رمز عبور </a>

                <!--                <a href="#" class="panel-block">Edit my info</a>-->

            {% include 'partial/category.html' %}
                <!--            search -->
            {% include 'partial/search.html' %}
        </div>

</div>
{% endblock %}