
{% extends 'base.html' %}
{% block title %} داشبورد {% endblock %}
{% load static %}


{% block content %}
<div class="row">
    {% for l in list %}
    <div class="col-lg-4">
            {% if l.image_front %}
                <img src="{{ l.image_front.url}}" alt="simple picture" class="thumbnail">
            {% else %}
                <img src="{% static 'images/no image.png' %}" alt="simple picture" class="thumbnail">
            {% endif %}

            <div class="box-element product">
                <span>  {{ l.updated | timesince }}   تاریخ انتشار</span>
                <span>{{ l.user.first_name }} {{ l.user.last_name }}</span>
                <span>{{ l.user }}</span>
                <h6 style="display:inline-block; float:right"><strong> {{ l.name | title }} </strong></h6>
                <br><br>

                <div dir="rtl" class="block">
                     <p dir="rtl">توضیحات ویدئویی</p>
                    <br>
                    <a href="{{l.link}}">{{l.link}}</a>
                </div>
                <br>

                <div class="text content">
                    <p>{{ l.description | truncatewords:10 | safe}}</p>
                </div>

                <hr>
                <button data-product={{l.id}} data-action="add" class="btn btn-outline-secondary add-btn update-cart"> ارسال به کارت </button>
<!--                <a href="{% url 'store_warehouse:cart' %}" class="btn btn-outline-success">ارسال به کارت </a>-->
                <a href="{% url 'store_warehouse:dashboard_post_detail' l.id %}" class="btn btn-outline-success"> جزییات کالا </a>
                <h4 style="display:inline-block; float:right">{{ l.price }} هزار تومان</h4>
            </div>
    </div>
     {% endfor %}
        <hr>
        <br>
        <div>
            {% include 'partial/pagination.html' %}
        </div>

    <div class="panel is-light">



        <!--                <a href="#" class="panel-block">Edit my info</a>-->

        {% include 'partial/category.html' %}
        <!--            search -->
        {% include 'partial/search.html' %}
    </div>

</div>
{% endblock %}